
.container{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.3rem;
}

.weather{
    background-color: rgba(255, 255, 255, 0.514);
}
.err{
    text-align: center;
    padding-top: 10px;
}

.name{
    font-size: 1.8rem;
}
.section-one{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
}
.temperature{
    text-align: center;
    font-size: 2.8rem;
}
.unit{
    text-align: center;
}
.feel-section{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.feel-section :nth-child(2):after{
    content: "C";
    padding-left: 5px;
    }
.humidity-section{
    display: flex;
    justify-content: space-around;
}
.humidity-section :nth-child(2):after{
content: "%";
padding-left: 5px;
}